@import '~antd/dist/antd.css';
/* @import "../node_modules/react-image-gallery/styles/css/image-gallery.css"; */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
	font-size: 14px;
	line-height: 1.7;
	color: black;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: red;
}

.RayaBody {
  width: 1170px;
  margin: 0 auto;
}

.box-search-container {
  outline: none;
  position: relative;
  list-style-type: none;
  padding: 4px 0;
  margin: 0;
  text-align: left;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.15);
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  background-clip: padding-box;
  position: absolute;
  z-index: 13;
  top: 55px;
  left: 13%;
}

.search-overlay{
  position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);

}
.spiner-indicator-search {
  font-size: 14px;
    margin-right: 8px;
    position: absolute;
    margin-left: -9%;
    margin-top: 2.7%;
}

.search-list-item{
  display: block;
  padding: 10px 16px;
  margin-top: -3px;
}

.search-list-item a{
  color: rgb(89, 89, 89);
}

.search-list-item a:hover{
  color: rgb(89, 89, 89);
}

.search-list-item:hover{
  background: #f3f3f3;
}

.search-list-item .search-list-item-wrap{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.search-list-item .search-list-item-wrap .search-list-img{
  margin-right: 3%;
}

.search-list-item .search-list-item-wrap .search-list-main{
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.search-list-item .search-list-item-wrap .search-list-main .uppercoups{
  line-height: 10px;
  vertical-align: middle;
  font-size: 10px;
  margin-top: 1px;
}

.search-list-item .search-list-item-wrap .search-list-main .meta-title{
  line-height: 15px;
  font-weight: 900;
  font-size: 13px;
  margin-top: 2.2%;
}

.search-list-item .search-list-item-wrap .search-list-main .meta-category-date{
  line-height: 13px;
  vertical-align: middle;
  font-size: 9px;
  margin-top: 2%;
}

.search-list-item .search-list-item-wrap .post-cover-search {
  width: 28%;
  height: 63px;
  margin-right: 3%;
}

.search-list-item .search-list-item-wrap .post-cover-search .post-cover-parent-search {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.search-list-item .search-list-item-wrap .post-cover-search .post-cover-child-search {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center; 
  background-color: #dddfe1;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-animation: onLoadBlur-leftbar .5s ease-in;
  animation: onLoadBlur-leftbar .5s ease-in;
  animation-fill-mode: forwards;
}

.ant-back-top {
  bottom: 100px;
  /* margin-right: 85px; */
}
.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #e80f01;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.ant-back-top-inner::selection {
  background: #f5222d;
  color: #fff;
}

.content-wraper {
  margin : 18px 0 0 0;
}

.left-bar-index {
  width: 300px;
  margin-right: 10px;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  min-height: 1px;
}

.left-bar-detail-article {
  width: 860px;
    padding-right: 10px;
    padding-left: 10px;
}

.middle-bar-index {
  width: 550px;
  padding: 0 5px;
}

.right-bar-index {
  width: 300px;
  margin-left: 10px;
  position: relative;
  overflow: visible;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
}

.top-header-wraper {
  background: white;
  padding: 0;
}

.logo {
  overflow: hidden;
  float: left;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  white-space: nowrap;
}

.logo-sosmed-wraper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -ms-align-items: center;
  width: 222px;
}

.divider-top-header {
  height: 1.5em;
  margin: 0 10px;
}

.header-account {
  float: right;
  margin-right: 5px;
  position: relative;
}

.icon-login {
  float: left;
}

.title-login-wraper {
  float: left;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  color: #757886;
  margin: 20px 0 0 3px
}

.title-login {
  font-weight: 900;
  display: block;
  color: rgba(0, 0, 0, 0.85)
}

.desc-title-login {
  margin-top: 1px;
  font-size: 9px;
  font-weight: 300;
  display: block;
  color: rgba(0, 0, 0, 0.85)
}

.login100-social-item-header {
  font-size: 15px;
  color: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px;
}

.login100-social-item-header:hover {
  color: #fff;
  background-color: #333333;
  width: 36px;
  height: 36px;
}

.headline-wraper {
  margin-top: 15px;
  display: block;
}

.headline-wraper .firstbox-col {
  position: relative;
  height: 500px;
}

.firstbox-img {
  width: auto;
  height: 500px;
}

.headline-wraper .firstbox-caption-wraper {
  position: absolute;
  left: 0;
  bottom: 23px;
  background-color: rgba(218, 13, 0, 0.75);
  width: 80%;
  padding: 10px 10px 15px 35px;
}

.headline-wraper .firstbox-caption-categories {
  background-color: #fff;
  color: #000;
  position: absolute;
  top: -10px;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 900;
}

.headline-wraper .firstbox-caption-title {
  font-weight: bold;
  color: white;
  margin: 22px 0 12px 0;
  line-height: 30px;
}

.headline-wraper .firstbox-caption-date {
  color: white;
  font-size: 12px;
}

/* start: zoom hover */
.parent {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  /* cursor: pointer; */
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: #dddfe1;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-animation: onLoadBlur .3s ease-in;
  animation: onLoadBlur .3s ease-in;
  animation-fill-mode: forwards;
}

.parent:hover .child, .parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
  display: block;
}

.parent:hover a, .parent:focus a {
  display: block;
}

.child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0,104,55);
  background: -moz-linear-gradient(133deg, rgba(0,104,55,0.6460959383753502) 0%, rgba(0,113,188,0.5) 50%, rgba(237,28,36,0.6516981792717087) 100%);
  background: -webkit-linear-gradient(133deg, rgba(0,104,55,0.6460959383753502) 0%, rgba(0,113,188,0.5) 50%, rgba(237,28,36,0.6516981792717087) 100%);
  background: linear-gradient(133deg, rgba(0,104,55,0.6460959383753502) 0%, rgba(0,113,188,0.5) 50%, rgba(237,28,36,0.6516981792717087) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006837",endColorstr="#ed1c24",GradientType=1);
}

.headlines {
  display: none;
  font-size: 12px;
  color: #ffffff8f !important;
  text-align: right;
  margin: auto;
  position: absolute;
  top: 11%;
  right: 11%;
  height: 50px;
  cursor: pointer;
}

.parent .child a :hover {
  color:white;
}

/* end: zoom hover */

.secondbox-col {
  height: 250px;
}

.secondbox-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.secondbox-img .secondbox-img-child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: #dddfe1;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-animation: onLoadBlur .5s ease-in;
  animation: onLoadBlur .5s ease-in;
  animation-fill-mode: forwards;
}

.secondbox-img:hover .secondbox-img-child, .secondbox-img:focus .secondbox-img-child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.secondbox-img:hover .secondbox-img-child:before, .secondbox-img:focus .secondbox-img-child:before {
  display: block;
}

.secondbox-img:hover a, .secondbox-img:focus a {
  display: block;
}

.secondbox-img-child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0,104,55);
  background: -moz-linear-gradient(133deg, rgba(0,104,55,0.6460959383753502) 0%, rgba(0,113,188,0.5) 50%, rgba(237,28,36,0.6516981792717087) 100%);
  background: -webkit-linear-gradient(133deg, rgba(0,104,55,0.6460959383753502) 0%, rgba(0,113,188,0.5) 50%, rgba(237,28,36,0.6516981792717087) 100%);
  background: linear-gradient(133deg, rgba(0,104,55,0.6460959383753502) 0%, rgba(0,113,188,0.5) 50%, rgba(237,28,36,0.6516981792717087) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006837",endColorstr="#ed1c24",GradientType=1);
}

.secondbox-img .secondbox-img-child a :hover {
  color:white;
}
/**/

.headline-wraper .secondbox-caption-wraper {
  width: 95%;
  text-align: center;
  position: absolute;
  bottom: 0;
  border: 1.5px solid #fff;
  padding: 0 25px 8px 25px;
  background-color: #00000050;
  color: #fff;
  z-index: 1;
  margin-bottom: 20px;
  margin-left: 10px;
}

.headline-wraper .secondbox-caption-wraper .secondbox-caption-categories {
  font-size: 14px;
  font-weight: bold;
  background-color: #e70e00;
  padding: 3px 10px;
  position: relative;
  top: -10px;
}

.headline-wraper .secondbox-caption-wraper .secondbox-caption-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  color: white;
  line-height: 22px;
}

.headline-wraper .secondbox-caption-wraper .secondbox-caption-date {
  font-size: 12px;
  margin-bottom: 2px;
  line-height: 1.5;
  display: block;
}

.bg4 {
  background-color: #000000;
  border: 3px solid #FFF;
  border-radius: 18px;
  box-shadow: 0 0 1px #1b1c1d;
}

.ant-menu-item {
  padding: 0 15px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #272727;
}

.ant-btn-primary {
  color: #fff;
  background-color: #f5222d;
  border-color: #ff4d4f;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  background-color: #ef0310;
  border-color: #ff4d4f;
  -webkit-box-shadow: 0 0 0 2px rgba(248, 56, 56, 0.2);
          box-shadow: 0 0 0 2px rgba(248, 56, 56, 0.2);
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #d9d9d9;
}

.ant-input:focus {
  border-color: #dddfe1;
  outline: 0;
  -webkit-box-shadow: 0 0 0 1px rgba(105, 116, 126, 0.2);
          box-shadow: 0 0 0 1px rgba(105, 116, 126, 0.2);
}

.ant-carousel .slick-dots {
  position: absolute;
  bottom: 232px;
  left: -167px;
  list-style: none;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3px;
}

.ant-carousel .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  height: 250px;
}

.ant-carousel .slick-slider {
  height: 250px;
}

.ant-carousel .slick-slider img {
  width: 439px;
  height: 250px;
}

.ant-carousel .slick-dots li.slick-active button {
  background: #fff;
  opacity: 1;
  width: 24px;
  height: 7px;
}

.ant-carousel .slick-dots li button {
  border: 0;
  cursor: pointer;
  background: #fff;
  opacity: 0.3;
  display: block;
  width: 16px;
  height: 5px;
  border-radius: 1px;
  outline: none;
  font-size: 0;
  color: transparent;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  padding: 0;
}

.ant-carousel .slick-slider .headlineSlider {
  width: 418px;
  text-align: center;
  position: absolute;
  bottom: 0;
  border: 1.5px solid #fff;
  padding: 0 25px 8px 25px;
  color: #fff;
  z-index: 1;
  margin-bottom: 20px;
  background-color: #00000050;
  -webkit-background-color: #00000050;
  -moz-background-color: #00000050;
  -ms-background-color: #00000050;
  margin-left: 10px;
}

.ant-carousel .slick-slider .headlineSlider h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  color: white;
  width: 385px;
  line-height: 22px;
  padding-top: 25px;
}

.ant-carousel .slick-slider .headlineSlider .parentCategoriesSlider {
  font-size: 14px;
  font-weight: bold;
  background-color: #e70e00;
  padding: 3px 10px;
  position: absolute;
  top: -10px;
  left: 147px;
}

.ant-carousel .slick-slider .headlineSlider .dateSlider {
  font-size: 12px;
  margin-bottom: 2px;
  line-height: 1.5;
  display: block;
  width: 385px;
}

.head-title-kanal-wraper {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* padding: 5px 10px; */
  border: 2px solid #9a201d;
  color: #9a201d;
  margin-bottom: 10px;
  background: white;
}

.head-title-kanal-wraper .title-kanal {
  width: 100%;
  float: left;
  font-weight: bold;
}

.head-title-kanal-wraper .icon-index {
  float: right;
}

/* start left side bar */
.leftsidebar-wraper {
  padding-top: 0px;
  padding-bottom: 1px;
  position: static;
  transform: none;
  top: 0px;
  left: 15px;
  height: 650px;
  background: #202121;
}

.leftsidebar-wraper .qwer {
  background: red;
}

.ant-tabs-small .ant-tabs-nav-container {
  font-size: 14px;
  border-bottom: 1px solid black;
}

.ant-tabs-nav-wrap {
  overflow: hidden;
  margin-bottom: -1px;
  background: black;
}

.ant-tabs-nav .ant-tabs-tab {
  margin: 0;
  width: 150px;
  text-align: center;
}

.ant-tabs-nav-container-scrolling {
  padding-left: 0;
  padding-right: 0;
}

.ant-tabs-ink-bar {
  background-color: red;
  height: 3px;
  z-index: 1;
}

.ant-tabs-small .ant-tabs-tab {
  padding: 16px 16px;
  font-size: 13px;
  font-weight: 900;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: red;
  font-weight: 700;
}

.ant-tabs-tab-prev-icon, .ant-tabs-tab-next-icon {
  color: white;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: red;
  font-size: 12.7px;
  font-weight: 800;
}

.ant-tabs-ink-bar-animated {
  transform: translate3d(0px, 0px, 0px);
    width: 10px;
    display: block;
}

.leftsidebar-wraper .list-content {
  width: 300px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: red;
  border-radius: 10px;
  -webkit-animation: badgeOnLoad .6s ease-in;
  animation: badgeOnLoad .6s ease-in;
  animation-fill-mode: forwards;
}

@-webkit-keyframes badgeOnLoad {
  from {
    color: transparent;
    background-color: transparent;
  }
  to {
    color: #fff;
    background-color: red;
  }
}

@keyframes badgeOnLoad {
  from {
    color: transparent;
    background-color: transparent;
  }
  to {
    color: #fff;
    background-color: red;
  }
}


.post-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border: 1px solid #202121;
}

.post-grid .badge {
  position: absolute;
  left: 28%;
  color: #fff;
  background-color: #e70e00;
  padding: 4px 7px;
  margin-top: -2%;
}

.post-cover {
  width: 80%;
  height: 90px;
}

.post-cover .post-cover-parent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.post-cover .post-cover-child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center; 
  background-color: #dddfe1;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-animation: onLoadBlur-leftbar .5s ease-in;
  animation: onLoadBlur-leftbar .5s ease-in;
  animation-fill-mode: forwards;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes onLoadBlur-leftbar {
  from {filter: blur(10px);}
  to {filter: blur(0px);}
}

/* Standard syntax */
@keyframes onLoadBlur-leftbar {
  from {filter: blur(10px);}
  to {filter: blur(0px);}
}

.post-grid:hover .post-cover-child, .post-grid:focus .post-cover-child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.post-grid:hover .badge {
  display: none;
}

.post-grid:hover .post-cover-child:before, .post-grid:focus .post-cover-child:before {
  display: block;
}

.post-grid:hover p, .post-grid:focus p {
  display: block;
}

.post-cover-child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0,104,55);
  background: -moz-linear-gradient(133deg, rgba(0,104,55,0.6460959383753502) 0%, rgba(0,113,188,0.5) 50%, rgba(237,28,36,0.6516981792717087) 100%);
  background: -webkit-linear-gradient(133deg, rgba(0,104,55,0.6460959383753502) 0%, rgba(0,113,188,0.5) 50%, rgba(237,28,36,0.6516981792717087) 100%);
  background: linear-gradient(133deg, rgba(0,104,55,0.6460959383753502) 0%, rgba(0,113,188,0.5) 50%, rgba(237,28,36,0.6516981792717087) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006837",endColorstr="#ed1c24",GradientType=1);
}

.list-number {
  display: none;
  font-size: 32px;
  color: #ffffff8f !important;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 15%;
  left: 0;
  bottom: 0;
  right: 0;
}

.leftsidebar-wraper .list-content .post-grid:nth-child(odd) {
  background-color: #000;
}

.post-grid .post-desc {
  margin-left: 18px;
  width: 470px;
}

.post-grid .post-desc .categories {
  color: #fff;
  background-color: #e70e00;
  font-size: 9px;
  position: relative;
  top: -8px;
  padding: 1px 10px;
}

.post-grid .post-desc .uppercoups {
  position: relative;
  color: #52c41a;
  font-size: 9px;
  top: -6px;
  margin-bottom: -6px;
}

.post-grid .post-desc h2 {
  margin-bottom: -1px;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.post-grid .post-desc .date {
  color: #fff;
  font-size: 8px;
}

/* end left side bar */

/* .ant-menu-item .bagde{} */

/* start right side bar */
.right-sidebar-v1-wraper {
  padding-top: 0px;
  position: static;
  transform: none;
  top: 0px;
}

.right-sidebar-v1-wraper .right-advertise a {
  float: right;
  font-size: 10px;
}

.right-sidebar-v1-wraper .right-advertise a:hover {
  color: black
}

.right-sidebar-v1-wraper .panel-title-right-bar {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 13px;
  color: inherit;
}

.img-banner-advertise {
  margin-bottom: 17.5px;
}
.card-sponsored {
  margin-bottom: 10px;
}

.card-sponsored .img-advertise-wraper {
  width: 100%;
  height: auto;
}

.card-sponsored .img-advertise-wraper .img-advertise-parent {
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
}


.card-sponsored .img-advertise-wraper .img-advertise-child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: #dddfe1;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-animation: onLoadBlur-cardv1-adv .3s ease-in;
  animation: onLoadBlur-cardv2 .3s ease-in;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes onLoadBlur-cardv1-adv {
  from {filter: blur(5px);}
  to {filter: blur(0px);}
}

/* Standard syntax */
@keyframes onLoadBlur-cardv1-adv {
  from {filter: blur(5px);}
  to {filter: blur(0px);}
}

.card-sponsored .title-advertise {
  font-size: 15px;
  font-weight: 700;
  color: inherit;
  line-height: 19px;
}

.card-sponsored .desc-advertise {
  font-size: 12px;
  color: inherit;
  line-height: 18px;
  margin: 5px 0 0 0;
}

.card-sponsored a:hover {
  color: #ca050f;
}

.panel-widget {
  margin-top: 20px;
}

.panel-widget .btn-img {
  display: inline-block;
}

.btn-img img {
  max-height: 35px;
}

.btn-img + .btn-img {
  margin-left: 7.5px;
}
/* end right side bar */

.card-v1-wraper-container {
  cursor: pointer;
  margin: 10px 0 10px 0;
}

.card-v1-wraper-container .card-v1-wraper {
  position: relative;
  cursor: pointer;
  height: 300px;
}

/* start: zoom hover card v1*/
.cardv1-parent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.cardv1-child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: #dddfe1;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-animation: onLoadBlur .3s ease-in;
  animation: onLoadBlur .3s ease-in;
  animation-fill-mode: forwards;
}

.cardv1-parent .cardv1-child a {
  color:white;
  float: right;
  padding-right: 13px;
  padding-top: 13px;
  font-size: 12px;
} 

.cardv1-parent .cardv1-child a :hover {
  color:white;
  font-weight: bold;
} 
/* Safari 4.0 - 8.0 */
@-webkit-keyframes onLoadBlur-middle-v1 {
  from {filter: blur(25px);}
  to {filter: blur(0px);}
}

/* Standard syntax */
@keyframes onLoadBlur-middle-v1 {
  from {filter: blur(25px);}
  to {filter: blur(0px);}
}

/* end: zoom hover card v1*/



.card-v1-wraper .card-v1-desc-wraper-container {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.card-v1-wraper .card-v1-desc-wraper {
  padding-bottom: 5px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: linear-gradient(to bottom, rgba(153, 153, 153, 0.3) 0%, rgba(0, 0, 0, 0.41) 16%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(153, 153, 153, 0.3)), color-stop(16%, rgba(0, 0, 0, 0.41)), to(black));
}

.card-v1-wraper .card-v1-desc-categories {
  position: absolute;
  left: 15px;
  top: -12px;
  color: #fff;
  background-color: #e70e00;
  padding: 5px 8px;
  font-size: 10px;
  font-weight: bold;
}

.card-v1-wraper .card-v1-uppercoups {
  color: #50c419;
  margin: 18px 15px 0 15px;
  font-weight: bold;
  font-size: 11px;
  line-height: 23px;
}

.card-v1-wraper .card-v1-desc-title {
  margin: 0 15px 5px 15px;
  font-weight: bold;
  color: white;
  line-height: 25px;
}

.card-v1-wraper .card-v1-desc-date {
  font-size: 12px;
  color: white;
  margin-left: 15px;
}

.card-v1-wraper .card-v1-short-desc-wraper-container {
  background-color: #000;
}

.card-v1-wraper .card-v1-short-desc-wraper-container .card-v1-short-desc-wraper {
  color: white;
  margin: 0 15px;
}

.card-v1-wraper .card-v1-short-desc-wraper-container .card-v1-short-desc-wraper
.card-v1-inhover-readmore {
  font-style: italic;
  color: red;
  font-size: 12px;
}

.card-v1-wraper .card-v1-short-desc-wraper-container .card-v1-short-desc-wraper
.card-v1-inhover-divider {
  height: 15px;
}

.card-v1-wraper .card-v1-short-desc-wraper-container .card-v1-short-desc-wraper
.card-v1-inhover-shortDesc {
  line-height: 17px;
  font-size: 13.5px;
}

.card-v2-wraper-container {
  text-align: center;
  cursor: pointer;
  margin: 10px 0 10px 0;
}

.card-v2-wraper-container:hover
.card-v2-desc-wraper .card-v2-desc-title{
  color:red;
}

.cardv2-img-wraper {
  width: 100%;
  height: 70px;
}

.cardv2-img-wraper .cardv2-img-parent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}


.cardv2-img-wraper .cardv2-img-child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: #dddfe1;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-animation: onLoadBlur-cardv2 .3s ease-in;
  animation: onLoadBlur-cardv2 .3s ease-in;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes onLoadBlur-cardv2 {
  from {filter: blur(5px);}
  to {filter: blur(0px);}
}

/* Standard syntax */
@keyframes onLoadBlur-cardv2 {
  from {filter: blur(5px);}
  to {filter: blur(0px);}
}


.card-v2-desc-wraper {
  position: relative;
  border: 1.5px solid #9a201d;
  border-top: 0;
  padding: 0 4px;
  height: 100px !important;
}

.card-v2-desc-wraper .card-v2-desc-categories {
  font-size: 8px;
  font-weight: bold;
  background-color: red;
  color: #fff;
  padding: 3px 10px;
  position: relative;
  top: -13px;
}

.card-v2-desc-wraper .card-v2-desc-title {
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 5px 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: hidden;
  display: -webkit-box;
  line-height: 15px;
}

.card-v2-desc-wraper .card-v2-desc-date {
  font-size: 9px;
  margin: 0 0 10px 0;
  line-height: 1.4;
  display: block;
}

.card-v2-list-title-wraper {
  margin: 10px 0;
}

.card-v2-list-title-wraper h3 {
  padding: 0 13px 10px 13px;
  line-height: 1rem;
  font-size: 15px;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid #000;
}

.card-v2-list-title-wraper h3:last-of-type {
  border-bottom: 0;
}

.card-v2-list-title-wraper a {
  line-height: 1.4;
  font-size: 15px;
}

.card-v2-list-title-wraper a:hover {
  color: 'red'
}

.headLine-bottom-wraper-container {
  padding-bottom: 35px;
}

.headLine-bottom-wraper-container .headLine-bottom-wraper {
  background-color: #000;
  padding-top: 30px;
  padding-bottom: 270px;
  position: relative;
}

.headLine-bottom-wraper-container .headLine-bottom-wraper .headLine-bottom-box {
  padding: 0 8.8% 15px 8.8%;
  border: 1.5px solid #fff;
  color: #fff;
  margin: 0 18% 30px 18%;
}

.headLine-bottom-wraper-container .headLine-bottom-wraper .headLine-bottom-box h2 {
  font-size: 40px;
  line-height: 2.8rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
  color: white;
}

.headLine-bottom-wraper-container .headLine-bottom-wraper .headLine-bottom-box p {
  font-size: 16px;
  margin-bottom: 15px;
}

.headLine-bottom-wraper-container .headLine-bottom-box-list-row {
  margin: 0 18% 30px 18%;
}

.headLine-bottom-wraper-container .headLine-bottom-box-list {
  margin-top: -240px;
}

.headLine-bottom-box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; 
}

.headLine-bottom-box-list .cardv2-img-wraper {
  width: 100%;
  height: 150px;
}

.headLine-bottom-box-list .cardv2-img-wraper .parent {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.headLine-bottom-box-list .cardv2-img-wraper .child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: #dddfe1;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-animation: onLoadBlur-cardv2 .3s ease-in;
  animation: onLoadBlur-cardv2 .3s ease-in;
  animation-fill-mode: forwards;
}

.headLine-bottom-wraper-container .headLine-bottom-box-list .head-title-kanal-wraper{
  width: 24%;
  color: white;
  margin-bottom: 10px;
  background: transparent;
}

.headLine-bottom-wraper-container .headLine-bottom-box-list .card-v2-img {
  width: 100%;
    height: 150%;
}

.headLine-bottom-wraper-container .headLine-bottom-box-list .card-v2-desc-wraper {
  background-color: white;
}

.headLine-bottom-wraper-container .headLine-bottom-box-list h3 {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.1rem;
}

.headLine-bottom-wraper-container .headLine-bottom-box-list .card-v2-desc-categories {
  font-size: 10px;
  padding: 3px 10px 5px;
  top: -9px;
}

.headLine-bottom-wraper-container .headLine-bottom-box-list .card-v2-desc-date {
  font-size: 10px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes onLoadBlur {
  from {filter: blur(20px);}
  to {filter: blur(0px);}
}

/* Standard syntax */
@keyframes onLoadBlur {
  from {filter: blur(20px);}
  to {filter: blur(0px);}
}

.footer {
  background-color: black;
  vertical-align: middle;
}

.footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 15px;
}

.footer .footer-top img {
  margin-left: -10px;
}

.footer .footer-bottom {
  border-top: 0.5px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
  padding: 15px;
}

.footer-bottom .copyright {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 10px;
  width: 23%;
}

.footer-bottom .copyright a {
  color: white;
  font-size: 13px;
}

.footer-bottom .footer-navbar {
  float: right;
  text-align: right;
  margin-right: 10px;
}

.footer-bottom .footer-navbar .divider-footer {
  height: 0.7rem;
}

.footer-bottom .footer-navbar a {
  color: white;
  font-size: 12px;
}

.footer-bottom .footer-navbar a:hover {
  color: red;
  font-size: 12px;
}

/* start sub menu */
.submenu-users {
  position: absolute;
  z-index: 3;
  top: 53px;
  text-align: left;
  width: 170px;
}

.submenu-users ul {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.15);
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  background-clip: padding-box;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.submenu-users li {
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
  padding: 13px;
}

.submenu-users li:hover {
  background-color: #e8e8e8;
  color: black;
  font-weight: 200;
}

.submenu-users a{
  text-decoration: none;
  color: rgba(53, 53, 53, 0.85);
  display: block;
  padding-left: 15px;
  transition: .3s background-color;
}

.submenu-users a.active{
  background-color: #aaa;
  color: #444;
  cursor: default;
}

.submenu-users a:hover{
  color: black;
  font-weight: 200;
}

.submenu-nav {
  height: 35px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  /* padding: 5px 0; */
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
}

.submenu-nav ul {
  display: inline-block; 
  list-style: none;
}

.submenu-nav ul li {
  text-align: center;
  float: left;
}

.submenu-nav ul li a{
  display: block;
  color: #FFF;
  text-decoration: none;
  padding: 0px 20px;
  line-height: 30px
}

.submenu-nav ul li a:hover{
  color: red;
}

.submenu-lainnya-container {
  position: absolute;
  z-index: 1;
  top: 63px;
  color: white;
}

.submenu-lainnya-container .btn-close {
  top: 10.5px;
  right: 22px;
}

.submenu-lainnya-container ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
}

.submenu-lainnya-container ul li a{
  color: #bfbfbf;
}

.submenu-lainnya-container ul li a:hover {
  color: white;
  font-weight: bold;
}

.submenu-lainnya-container .list-submenu {
  margin-left: 40px;
  margin-right: 40px;
  top: 30px;
  margin-bottom: 30px;
}

.submenu-lainnya-container .list-submenu .title-menu {
  font-size: 22px
}

.submenu-lainnya-container .list-submenu .title-menu .list-menu {
  font-size: 13.5px;
  margin-top: 7px;
}

.submenu-lainnya-container .list-submenu .divider {
  border-left: 1.5px solid #fafafab8;
  height: 350px;
  position: absolute;
  right: 18.5%;
  top: 9%;
}

.submenu-lainnya-container .footer-submenu {
  top: 50.5px;
  right: 30px;
}

.submenu-lainnya-container .footer-submenu a {
  color: white;
  font-size: 12px;
}

.submenu-lainnya-container .footer-submenu a:hover {
  font-weight: bold;
}

.submenu-lainnya-container .footer-submenu .btn-submenu {
  color: #e2000c;
  border: 1px solid red;
  padding: 3px 6px;
  font-size: 11px
}
/* end sub menu */

/* start modal login */
.font-global-form-login {
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.modal-login {
  position: absolute;
  top: 65px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  margin : 0 auto;
  height: 770px;
  width: 800px;
  overflow: hidden;
}

.modal-login-overlay {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-login header{
  background-color: rgb(73, 134, 242);
}

.modal-login .raya-login-header {
  background-color: #F3F3F3;
  position: relative;
  overflow: hidden;
}

.modal-login .raya-login-header .login-form {
  padding: 20px 0;
  position: relative;
}

.wrap-login-form {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.login-form-title {
  width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 55px 15px 45px 15px;
}


.wrap-login-form .login-form-title .close-box-in{
  position: absolute;
  right: 3%;
  top: 9%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.login-form-title:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.50);
}

.login-form-title-txt {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.login-form {
  padding: 35px 220px;
}

.wrap-input {
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  height: 45px;
}

.wrap-login-form .wrap-input input {
  color: #333333;
    line-height: 1.2;
    font-size: 13px;
    display: block;
    width: 100%;
    padding: 0 10px;
}

.wrap-form-btn {
  width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;
}

.username-label {
  padding-bottom: 2px;
  padding-top: 10px;
}

.style-label {
  font-size: 13.5px;
    color: #555555;
    line-height: 1.5;
}

.login-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 16px;
  color: rgba(0, 0, 0, 0.37);
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.login-form-btn-fb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 55px;
  background-color: #3b5998;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
}

.login-form-btn-google {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 55px;
  background-color: #ea4335;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.btn-face {
    font-size: 18px;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: calc((100% - 20px) / 2);
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}

.login-footer {
  width: 100%;
  padding-top: 45px;
  text-align: center!important;
}

.ant-menu-item-selected {
  color: black;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(212, 210, 210, 0.15);
}

.ant-menu-submenu-title:active {
  background: rgba(212, 210, 210, 0.15);
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
  color: black;
}
/* end modal login */

.ant-breadcrumb a:hover {
  color: #d70705;
}

.article-detail-title-wraper {
  border: #9a201d solid;
  padding: 15px;
  margin: 3% 0 0 0;
}

.article-detail-title-wraper h1{
  padding: 0;
  margin: 8px 0;
  font-weight: 650;
  font-size: 33px;
  /* line-height: 36px; */
  line-height: 110%;
  text-transform: none;
}

.ant-breadcrumb-separator {
  margin: 0 4px;
  color: rgba(0, 0, 0, 0.45);
}

.article-detail-title-wraper .categories {
  position: absolute;
  background: #d60703;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 3px 30px;
  margin-top: -3.3%;
}

.article-detail-title-wraper .uppercoups {
  margin: 12px 0 -4px 0;
}

.img-thumbnail {
  margin: 2.5% 0;
}

.img-thumbnail .detail-thumb {
  text-align: center;
}

.img-thumbnail-parent {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  margin-bottom: 2%;
}

.img-thumbnail-child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: #dddfe1;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-animation: onLoadBlur .3s ease-in;
  animation: onLoadBlur .3s ease-in;
  animation-fill-mode: forwards;
}

.post-feat-text {
  background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
  background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
  background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
  background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
  background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
  background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
  padding: 40px 1.9550342131% 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

span.post-excerpt p {
  color: #fff;
  font-size: .8rem;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 0;
  width: 75%;
  margin-left: 5px;
}

span.feat-caption {
  color: #ddd;
  font-size: .65rem;
  font-weight: 400;
  line-height: 120%;
  position: absolute;
  /* right: 10px;
  bottom: 10px; */
  right: 15px;
    bottom: 16px;
  text-align: right;
  /* text-transform: uppercase; */
  width: 30%;
}


.article-detail {
  /* font-size: 15px; */
    padding: 3px;
    margin-bottom: 5%;
    /* line-height: 1.7; */
    font-size: 16px;
    line-height: 26px;
}

.share-container {
  margin-bottom: 5%;
}

.share-wrap {
  border: 1.5px solid #5a5a5a;
  line-height: 53px;
    vertical-align: middle;
}

.divider-detail-article {
  height: 2px;
  background: #5a5a5a;
  margin: 13px 0;
}

.share-count {
  font-size: 20px;
}

.akumulasi-share {
  background: #5a5a5a;
  padding: 18px 25px;
  color: white;
  border: 2px solid #5a5a5a;
}

.share-wrap .sosmed-share {
  padding: 0 7%;
}

.share-wrap .sosmed-share .share-count {
  font-size: 20px;
  line-height: 30px;
  vertical-align: middle;
}

.share-wrap .sosmed-share button{
  background: transparent;
    border: transparent;
    cursor: pointer;
}

.btn-share {
  background: transparent;
    border: transparent;
    color: #5a5a5a;
}

.tag-head {
  padding: 0 25px;
  font-weight: 700;
}

.tag-items {
  padding: 0 10px;
  font-weight: 500;
}

@charset "UTF-8";
/*!
  Ionicons, v2.0.0
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.
*/
@font-face {
  font-family: "Ionicons";
  src: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0");
  src: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.0") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }

.image-gallery-fullscreen-button::before,
.image-gallery-play-button::before,
.image-gallery-left-nav::before,
.image-gallery-right-nav::before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.image-gallery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: #1b1c1d; 
  -webkit-tap-highlight-color: transparent; }
  .image-gallery.fullscreen-modal {
    background: #000;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5; }
    .image-gallery.fullscreen-modal .image-gallery-content {
      top: 50%;
      transform: translateY(-50%); }

.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0; }
  .image-gallery-content.fullscreen {
    background: #000; }
    .image-gallery-content.fullscreen .image-gallery-slide {
      background: #000; }

.image-gallery-slide-wrapper {
  position: relative; }
  .image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
    display: inline-block;
    width: calc(100% - 113px); }
    @media (max-width: 768px) {
      .image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
        width: calc(100% - 84px); } }

.image-gallery-fullscreen-button,
.image-gallery-play-button,
.image-gallery-left-nav,
.image-gallery-right-nav {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4; }
  .image-gallery-fullscreen-button::before,
  .image-gallery-play-button::before,
  .image-gallery-left-nav::before,
  .image-gallery-right-nav::before {
    color: #fff;
    line-height: .7;
    text-shadow: 0 2px 2px #1a1a1a;
    transition: color .2s ease-out; }
  .image-gallery-fullscreen-button:hover::before,
  .image-gallery-play-button:hover::before,
  .image-gallery-left-nav:hover::before,
  .image-gallery-right-nav:hover::before {
    color: #337ab7; }
    @media (max-width: 768px) {
      .image-gallery-fullscreen-button:hover::before,
      .image-gallery-play-button:hover::before,
      .image-gallery-left-nav:hover::before,
      .image-gallery-right-nav:hover::before {
        color: #fff; } }

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  top: 0; }
  .image-gallery-fullscreen-button::before,
  .image-gallery-play-button::before {
    font-size: 2.7em;
    padding: 15px 20px;
    text-shadow: 0 1px 1px #1a1a1a; }
    @media (max-width: 768px) {
      .image-gallery-fullscreen-button::before,
      .image-gallery-play-button::before {
        font-size: 2.4em; } }
    @media (max-width: 480px) {
      .image-gallery-fullscreen-button::before,
      .image-gallery-play-button::before {
        font-size: 2em; } }
  .image-gallery-fullscreen-button:hover::before,
  .image-gallery-play-button:hover::before {
    color: #fff;
    transform: scale(1.1); }
    @media (max-width: 768px) {
      .image-gallery-fullscreen-button:hover::before,
      .image-gallery-play-button:hover::before {
        transform: none; } }

.image-gallery-fullscreen-button {
  right: 0; }
  .image-gallery-fullscreen-button::before {
    content: ""; }
  .image-gallery-fullscreen-button.active::before {
    content: ""; }
  .image-gallery-fullscreen-button.active:hover::before {
    transform: scale(0.9); }

.image-gallery-play-button {
  /* left: 0;  */
  right: 9%;
}
  .image-gallery-play-button::before {
    content: ""; }
  .image-gallery-play-button.active::before {
    content: ""; }

.image-gallery-left-nav,
.image-gallery-right-nav {
  color: #fff;
  font-size: 5em;
  padding: 50px 15px;
  top: 50%;
  transform: translateY(-50%); }
  .image-gallery-left-nav[disabled],
  .image-gallery-right-nav[disabled] {
    cursor: disabled;
    opacity: .6;
    pointer-events: none; }
  @media (max-width: 768px) {
    .image-gallery-left-nav,
    .image-gallery-right-nav {
      font-size: 3.4em;
      padding: 20px 15px; } }
  @media (max-width: 480px) {
    .image-gallery-left-nav,
    .image-gallery-right-nav {
      font-size: 2.4em;
      padding: 0 15px; } }

.image-gallery-left-nav {
  left: 0; }
  .image-gallery-left-nav::before {
    content: ""; }

.image-gallery-right-nav {
  right: 0; }
  .image-gallery-right-nav::before {
    content: ""; }

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap; }

.image-gallery-slide {
  background: #fff;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  .image-gallery-slide.center {
    position: relative; }
  .image-gallery-slide img {
    width: 100%; }
  .image-gallery-slide .image-gallery-description {
    background: rgba(0, 0, 0, 0.4);
    /* bottom: 70px; */
    bottom: 0;
    width: 100%;
    color: #fff;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    white-space: normal; }
    @media (max-width: 768px) {
      .image-gallery-slide .image-gallery-description {
        bottom: 45px;
        font-size: .8em;
        padding: 8px 15px; } }

.image-gallery-bullets {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4; }
  .image-gallery-bullets .image-gallery-bullets-container {
    margin: 0;
    padding: 0;
    text-align: center; }
  .image-gallery-bullets .image-gallery-bullet {
    appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 0 #1a1a1a;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    outline: none;
    padding: 5px; }
    @media (max-width: 768px) {
      .image-gallery-bullets .image-gallery-bullet {
        margin: 0 3px;
        padding: 3px; } }
    @media (max-width: 480px) {
      .image-gallery-bullets .image-gallery-bullet {
        padding: 2.7px; } }
    .image-gallery-bullets .image-gallery-bullet.active {
      background: #fff; }

.image-gallery-thumbnails-wrapper {
  position: relative; }
  .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
    display: inline-block;
    vertical-align: top;
    width: 108px; }
    @media (max-width: 768px) {
      .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
        width: 81px; } }
    .image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
      height: 100%;
      width: 100%;
      left: 0;
      padding: 0;
      position: absolute;
      top: 0; }
      .image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
        display: block;
        margin-right: 0;
        padding: 0; }
        .image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail {
          margin-left: 0; }
  .image-gallery-thumbnails-wrapper.left {
    margin-right: 5px; }
    @media (max-width: 768px) {
      .image-gallery-thumbnails-wrapper.left {
        margin-right: 3px; } }
  .image-gallery-thumbnails-wrapper.right {
    margin-left: 5px; }
    @media (max-width: 768px) {
      .image-gallery-thumbnails-wrapper.right {
        margin-left: 3px; } }

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0; }
  @media (max-width: 768px) {
    .image-gallery-thumbnails {
      padding: 3px 0; } }
  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    cursor: pointer;
    text-align: center;
    transition: transform .45s ease-out;
    white-space: nowrap; }

.image-gallery-thumbnail {
  display: inline-block;
  border: 4px solid transparent;
  transition: border .3s ease-out;
  width: 100px; }
  @media (max-width: 768px) {
    .image-gallery-thumbnail {
      border: 3px solid transparent;
      width: 75px; } }
  .image-gallery-thumbnail + .image-gallery-thumbnail {
    margin-left: 2px; }
  .image-gallery-thumbnail img {
    vertical-align: middle;
    width: 100%; }
  .image-gallery-thumbnail.active {
    border: 4px solid #337ab7; }
    @media (max-width: 768px) {
      .image-gallery-thumbnail.active {
        border: 3px solid #337ab7; } }

.image-gallery-thumbnail-label {
  color: #1a1a1a;
  font-size: 1em; }
  @media (max-width: 768px) {
    .image-gallery-thumbnail-label {
      font-size: .8em; } }

.image-gallery-index {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4; }
  @media (max-width: 768px) {
    .image-gallery-index {
      font-size: .8em;
      padding: 5px 10px; } }

.image-gallery-image h5 {
  color:white;
}
